certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
numpy==2.0.2
requests==2.32.3
urllib3==2.3.0
langchain
streamlit
langchain-community
weasyprint
jinja2
pdfplumber
openai
langchain_openai
sentence-transformers
torch
chromadb
pysqlite3-binary